/* General CSS */

.App {
  text-align: center;
  color: white;
  background-color: black;
  font-family: Monaco, monospace;
  /* prevents the page from having horizontal scroll with Selected Content clickalong */
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  transition-delay: 5s;
}

body {
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;
}

#main {
  text-align: center;
 }
 
hr {
   width: 60%;
   opacity: 90%;
 }
 
.centered {
   text-align: center;
 }

 .center-content {
   display: flex;
   justify-content: center;
   padding: 0 1em;
 }

.cyanLink {
   color: Cyan;
   /* text-decoration: underline; */
 }

ul.cool-list {
   list-style: none;
 }

 .cool-list li:hover {
   text-decoration: underline;
   cursor: pointer;
 }

.disclaimer {
  font-size: 0.75em;
}

#directorList {
  padding-left: 10em;
}

a {
  color: inherit;
}

.flex {
  display: flex;
}
.flex-50 {
  flex-basis: 50%;
}
.flex-95 {
  flex-basis: 95%;
}


/* Header CSS  */

#top-name {
  letter-spacing: 0.25em;
}

#top-name:hover {
  color: Cyan;
}

#navbar ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

#navbar li {
  list-style-type: none;
  margin-left: .25em;
  margin-right: .25em;
  width: 15%;
  height: 2.5em;
}

#navbar li a {
  display: block;
  padding: 0.5em 0;
  cursor: pointer;
  border: solid 0.125em grey;
}

#navbar li a:hover {
  color: Cyan;
  border-color: Cyan;
}


/* Footer CSS */

footer {
  text-align: center;
  height: 100%;
  border-top: solid 0.125em grey;
  /* margin-top: 10em; */
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

footer li {
  cursor: pointer;
  margin: 0 auto;
}


/* Blog/Code page transitions  */
.expand-enter {
  opacity: 0.2;
}
.expand-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}
.expand-exit {
  opacity: 0.5;
}
.expand-exit-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}


/* Film / Cool Stuff pages */
.page-flow {
  text-align: left;
  /* margin-left: auto;
  margin-right: auto; */
  /* max-width: 50em; */
  line-height: 1.75em;
  z-index: 1;
  background-color: black;
  position: relative;
}
.content-pocket {
  height: 20em;
  /* overflow: scroll; */
  /* background-color: black; */
}
.pocket-blurb {
  z-index: 3;
  position: relative;
  padding: 1em 0 0 1em;
}
.pocket-blurb p {
  margin: 0;
  padding-bottom: 1em;
}
.selected-content {
  padding: 0;
  overflow: scroll;
}
.back-btn {
  flex-basis: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  height: 20em;
}
.pocket-img-container {
  overflow: hidden;
  position: relative;
}

/* Film / Cool Stuff Page Transitions */
.pocket-view {
  left: 20em;
  transition: left 1000ms linear;
  display: flex;
  min-width: 100em;
  position: relative;
}
.pocket-view-podcast, .pocket-view-book {
  left: -30em;
}
.cover-container {
  display: flex;
  height: 100%;
  position: absolute;
}
.cover-main {
  background-color: black;
  width: 20em;
  z-index: 6;
}
.cover-middle {
  background-color: transparent;
  width: 50em;
}
.cover-shadow {
  box-shadow: 7px -7px 8px -1px black;
}

/* Pocket Recommendations General CSS */
.recommended-things {
  z-index: 4;
  position: relative;
  border-radius: 1em 1em 0 0;
}
.recommended-things p {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.recommended-things li {
  list-style-type: none;
}
.recommended-things hr {
  margin: 0 auto;
}
.recommended-things a div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.recommended-things a {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
}
.recommended-things span {
  margin: 0 0 0 1em;
  width: 50%;
  font-size: 1em;
  font-family: adelle, serif;
  color: white;
}
.recommended-things table {
  border-spacing: 2em;
  width: 100%;
}
.recommended-things td {
  background-color: rgba(0,0,0,.8);
  transition: all .5s ease-in-out;
  height: 10em;
  width: 20em;
  position: relative;
  border-radius: 1em;
}
.recommended-things td:hover {
  transform: scale(1.1);
}

/* Podcast: The Tim Ferriss Show CSS */
.ferriss-back-btn {
  box-shadow: 6px 0px 6px 0px #606060;
  background-color: #606060;
}
.ferriss-wheel {
  position: relative;
  opacity: 100%;
  background-color: rgba(1,98,131,.8);
  border-radius: 50%;
  width: 13em;
  height: 13em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: adelle, serif;
  text-align: center;
  margin: 1em;
}
.ferriss-wheel h2 {
  margin: 0;
}
.ferriss-wheel a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.25em;
}
.ferriss-img {
  position: absolute;
  left: -23.5em;
  top: -16em;
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}
.ferriss-pocket {
  color: #e0e0de;
  background-color: #606060;
  display: flex;
}
.ferriss-recommendations {
  background-color: rgba(1,98,131,.8)
}
.ferriss-bar-right {
  background-color: #606060;
  width: 10em;
  box-shadow: -7px 0px 6px -1px #606060;
  z-index: 2;
}

/* Podcast: The Joe Rogan Experience */
.rogan-back-btn {
  background-color: #000421;
}
.rogan-recommendations {
  background-image: linear-gradient(to bottom right, white, #dd730f);
}
.rogan-recommendations p, .rogan-recommendations hr {
  color: black;
  border-color: black;
}
.rogan-pocket {
  color: wheat;
  background-color: #000421;
  display: flex;
}
.rogan-img {
  position: relative;
  left: 7em;
  top: 2em;
  -webkit-transform: scale(1.25); /* Saf3.1+, Chrome */
     -moz-transform: scale(1.25); /* FF3.5+ */
      -ms-transform: scale(1.25); /* IE9 */
       -o-transform: scale(1.25); /* Opera 10.5+ */
          transform: scale(1.25);
}
.rogan-bar-right {
  background-color: #000421;
  width: 10em;
}

/* Podcast: The Happiness Lab with Dr Laurie Santos */
.happiness-back-btn {
  background-color: #f2e11f;
}
.happiness-pocket {
  display: flex;
  color: black;
  background-color: #f2e11f;
}
.happiness-img-container {
  height: 17em;
}
.happiness-img-container a {
  position: relative;
  left: 35em;
  top: 15em;
  text-decoration-line: none;
  background-color: rgba(0,0,0,.2);
  padding: .5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 1em;
}
.happiness-img-container a:hover {
  color: yellow;
}
.happiness-img {
  position: absolute;
  left: -13em;
  top: -9.5em;
  -webkit-transform: scale(0.6); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.6); /* FF3.5+ */
      -ms-transform: scale(0.6); /* IE9 */
       -o-transform: scale(0.6); /* Opera 10.5+ */
          transform: scale(0.6);
}
.happiness-recommendations p, .happiness-recommendations hr {
  color: black;
  border-color: black;
}
.happiness-recommendations table {
  border-spacing: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.happiness-recommendations td {
  background-color: rgba(0,0,0,.6);
  height: 4em;
  font-size: 1.25em;
  text-align: center;
}
.happiness-bar-right {
  background-color: #f2e11f;
  width: 10em;
}

/* Podcast: Making Sense with Sam Harris */
.harris-pocket {
  display: flex;
  background-color: #2a3d29;
  color: #cecece;
}
.harris-img-container {
  height: 17em;
}
.harris-img {
  position: absolute;
  left: -19.5em;
  top: -13em;
  -webkit-transform: scale(0.55); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.55); /* FF3.5+ */
      -ms-transform: scale(0.55); /* IE9 */
       -o-transform: scale(0.55); /* Opera 10.5+ */
          transform: scale(0.55);
}
.harris-back-btn {
  background-color: #2a3d29;
  box-shadow: 6px 0px 6px 0px #2a3d29;
}
.harris-recommendations {
  background-image: linear-gradient(to bottom right, #0c1c36, #986842);
}
.harris-wheel {
  position: relative;
  opacity: 100%;
  background-color: rgba(206, 206, 206, 0.4);
  border-radius: 50%;
  width: 11em;
  height: 11em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: adelle, serif;
  text-align: center;
  margin: 1.5em;
  transition: transform 250ms linear;
}
.harris-wheel:hover {
  transform: scale(1.1);
}
.harris-wheel h2, .harris-wheel h4 {
  margin: 0;
}
.harris-wheel h4 {
  color: black;
}
.harris-wheel a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.25em;
}
.harris-bar-right {
  background-color: #2a3d29;
  width: 10em;
  box-shadow: -7px 0px 6px -1px #2a3d29;
  z-index: 1;
}

/* Book pocket CSS */
.book-pocket {
  text-align: center;
  padding: 0 2em 1em 0;
}
.book-title {
  width: 22em;
  margin: 0 auto;
  padding: 2.5em 0 1em 0;
  margin-bottom: 1em;
  border-radius: 0 0 1em 1em;
}
.book-blurb p {
  text-align: left;
  font-size: 0.9em;
  margin: 0.5em 0 0 0;
}
.book-pocket h2 {
  margin: 0 0 0.25em 0;
}
.book-pocket span {
  font-family: monospace, sans-serif;
  font-size: 1.25em;
}
.book-blurb {
  padding-bottom: 2em;
}
.book-blurb img {
  margin-right: 1em;
  float: left;
  position: relative;
  top: 0.5em;
}
.book-recommendations {
  border-radius: 1em;
}
.book-recommendations p {
  font-size: 1.3em;
  font-family: monospace, sans-serif;
  margin: 0 0 0.5em 0;
  letter-spacing: 1em;
}
.book-recommendations table {
  padding: 0 0 1em 0;
}
.book-recommendations td {
  width: 20em;
  position: relative;
  padding: 0;
  line-height: 1;
}
.book-recommendations i {
  font-size: 0.9em;
}
.book-recommendations span {
  font-size: 0.8em;
  font-family: monospace, sans-serif;
}

/* Book: Notes from Underground by Dostoevsky */
.dostoevsky-pocket {
  color: black;
  background-color: #B8CCF9;
}
.dostoevsky-back-btn {
  background-color: #B8CCF9;
}
.dostoevsky-second-color {
  background-color: #F9E5B8;
}

/* Book: American Psycho by Bret Easton Ellis */
.american-psycho-pocket {
  background-color: #0F0F0F;
  color: white;
}
.american-psycho-back-btn {
  background-color: #0F0F0F;
}
.american-psycho-second-color {
  background-color: #f02300;
  color: black;
}

/* Book: My Brilliant Friend by Elena Ferrante */
.ferrante-pocket {
  background-color: #0F0F0F;
  color: white;
}
.ferrante-back-btn {
  background-color: #0F0F0F;
}
.ferrante-second-color {
  background-color: #f02300;
  color: black;
}

/* Book: Norwegian Wood by Haruki Murakami */
.murakami-pocket {
  background-color: #0F0F0F;
  color: white;
}
.murakami-back-btn {
  background-color: #0F0F0F;
}
.murakami-second-color {
  background-color: #f02300;
  color: black;
}
.murakami-blurb img {
  margin-bottom: 0.1em;
}