/* General CSS */

.App {
  text-align: center;
  color: white;
  background-color: black;
  font-family: Monaco, monospace;
  /* prevents the page from having horizontal scroll with Selected Content clickalong */
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  transition-delay: 5s;
}

body {
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.25em;
  margin: 0.6em auto;
}

h2 {
  font-size: 1.75em;
}
 
hr {
   width: 60%;
   border-color: grey;
 }
 
.centered {
   text-align: center;
 }

 .center-content {
   width: 50%;
   margin: 0 auto;
 }

 .flex-center-content {
   display: flex;
   justify-content: center;
 }

.cyan {
   color: Cyan;
   /* text-decoration: underline; */
 }

ul.cool-list {
   list-style: none;
 }

 .cool-list li {
   /* font-size: 1.1em; */
   line-height: 2em;
 }

 .cool-list li:hover {
   text-decoration: underline;
   cursor: pointer;
 }

.disclaimer {
  font-size: 0.75em;
}

a {
  color: inherit;
}

.flex {
  display: flex;
}
.flex-50 {
  flex-basis: 50%;
}
.flex-95 {
  flex-basis: 95%;
}

.no-margin {
  margin: 0;
}

figure {
  margin: 0;
  font-style: italic;
}


/* Header CSS  */

#top-name {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* Inline-Block display because of mobile header bars */
  display: inline-block;
}

#top-name:hover {
  color: Cyan;
}

#navbar ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
  margin: 0;
}

#navbar li {
  list-style-type: none;
  margin-left: .25em;
  margin-right: .25em;
  width: 15%;
  height: 2.5em;
}

#navbar li a {
  display: block;
  padding: 0.5em 0;
  cursor: pointer;
  border: solid 0.125em grey;
}

#navbar li a:hover {
  color: Cyan;
  border-color: Cyan;
}

.app-link-style a {
  /* removes the automatic underlining of the links in the navbar */
  text-decoration-line: none;
  font-family: Monaco, monospace;
  letter-spacing: 0.25em;
}

.display-none {
  /* Closes the mobile menu links */
  display: none;
}

.mobile-header-main {
  z-index: 105;
  /* z-index above overlay 102: elements to escape the overlay */
}

.mobile-menu {
  list-style-type: none;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  text-align: center;
  z-index: 105;
    /* z-index above overlay 102: elements to escape the overlay */
  font-size: 2em;
}

.mobile-menu a {
  padding: 0.5em 0;
  display: block;
}

.open-links {
  display: inline-block;
  line-height: 16px;
  user-select: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin: auto 0 auto 15px;
}
.header-bar {
  width: 22px;
  height: 2px;
  background-color: white;
  position: relative;
}
.top-bar {
  top: 0;
}
.top-bar-rotate {
  transform: rotate(45deg);
  top: 7px;
  transition: top .1s .1s ease-in-out, transform .1s .2s ease-in-out;
}
.top-bar-return {
  transform: rotate(0deg);
  top: 0;
  transition: transform .1s .1s ease-in-out, top .1s .2s ease-in-out;
}
.middle-bar {
  top: 5px;
}
.middle-bar-gone {
  opacity: 0;
  transition: opacity 0s .15s linear;
}
.middle-bar-return {
  opacity: 1;
  transition: opacity 0s .15s linear;
}
.bottom-bar {
  top: 10px;
}
.bottom-bar-rotate {
  transform: rotate(-45deg);
  top: 3px;
  transition: top .1s .1s ease-in-out, transform .1s .2s ease-in-out;
}
.bottom-bar-return {
  transform: rotate(0deg);
  top: 10px;
  transition: transform .1s .1s ease-in-out, top .1s .2s ease-in-out;
}

.mobile-pic-links {
  display: none;
}


/* Footer CSS */

footer {
  text-align: center;
  border-top: solid 0.125em grey;
  z-index: 100;
  /* margin-top: 10em; */
}

footer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  height: 100%;
  margin: 0 20%;
}

footer li {
  cursor: pointer;
  margin: 0 auto;
}

.back-to-top {
  display: none;
}

/* Trick to fix footer to bottom (https://stackoverflow.com/a/19723677/11575550) */
html, body, #root {
  height: 100%;
}
.App {
  min-height: 100%;
  position: relative;
  padding-bottom: 6em;
  box-sizing: border-box;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6em;
}

/* Overlay CSS */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
.overlay-film {
  z-index: 110;
  /* z-index: 110, above footer 100 and under fpo 120 */
  background-color: rgba(0,0,0,0.5);
}
.overlay-mobile {
  z-index: 102;
  /* z-index 102, below header elements of 105, above footer 100 */
  background-color: rgba(0,0,0,0.95);
}


/* Home/Now pages CSS */
.home-style {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  font-family: Monaco, monospace;
  line-height: 1.75em;
}

/* Blog/Code page CSS */
.code-blog-entry {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 1em 1em 0.1em 1em;
  line-height: 1.75em;
  border: solid 0.125em grey;
  cursor: pointer;
  width: 50%;
}
.code-blog-entry-content {
  text-align: left;
  padding-left: 1em;
}
.code-blog-entry-content-img {
  text-align: center;
  margin-right: 1em;
}
.code-blog-closed {
  text-decoration-line: none;
}
.code-blog-closed h3 {
  margin: 0;
}
.code-blog-closed hr {
  margin-bottom: 0;
}
.code-blog-closed p {
  margin: 0;
}

/* Blog/Code page transitions  */
.expand-enter {
  opacity: 0.2;
}
.expand-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}
.expand-exit {
  opacity: 0.5;
}
.expand-exit-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}


/* Film / Cool Stuff pages */
.page-flow {
  text-align: left;
  line-height: 1.75em;
  z-index: 10;
  background-color: black;
  position: relative;
}

.content-pocket {
  height: 20em;
  /* overflow: scroll; */
  /* background-color: black; */
}
.pocket-blurb {
  z-index: 30;
  position: relative;
  padding: 1em 0 0 1em;
}
.pocket-blurb p {
  margin: 0;
  padding-bottom: 1em;
  font-size: 1.1em;
  letter-spacing: 0.01em;
  line-height: 1.75em;
}
.selected-content {
  padding: 0;
  overflow: scroll;
  font-family: 'Apercu', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.back-btn {
  flex-basis: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 30;
  height: 20em;
}
.pocket-img-container {
  overflow: hidden;
  position: relative;
}

/* Film / Cool Stuff Page Transitions */
.pocket-view {
  left: 20em;
  transition: left 1000ms linear;
  display: flex;
  min-width: 100em;
  position: relative;
}
.pocket-view-podcast, .pocket-view-book {
  left: -30em;
}
.cover-container {
  display: flex;
  height: 100%;
  position: absolute;
}
.cover-left {
  background-color: black;
  width: 20em;
  z-index: 60;
}
.cover-middle {
  background-color: transparent;
  width: 50em;
}
.cover-right {
  background-color: black;
  box-shadow: 7px -7px 8px -1px black;
  width: 150em;
  z-index: 60;
}

/* Pocket Recommendations General CSS */
.mobile-recommendations-podcast {
  display: none;
}
.recommended-things {
  z-index: 40;
  position: relative;
  border-radius: 1em 1em 0 0;
}
.recommended-things p {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
  font-size: 1.5em;
  color: white;
}
.recommended-things li {
  list-style-type: none;
}
.recommended-things hr {
  margin: 0 auto;
}
.recommended-things a div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.recommended-things a {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
}
.recommended-things span {
  margin: 0 0 0 1em;
  width: 50%;
  font-size: 1em;
  font-family: 'Apercu', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
.recommended-things table {
  border-spacing: 2em;
  width: 100%;
}
.recommended-things td {
  background-color: rgba(0,0,0,.8);
  transition: all .5s ease-in-out;
  height: 10em;
  width: 20em;
  position: relative;
  border-radius: 1em;
}
.recommended-things td:hover {
  transform: scale(1.1);
}

/* Podcast: The Tim Ferriss Show CSS */
.ferriss-back-btn {
  box-shadow: 6px 0px 6px 0px #606060;
  background-color: #606060;
}
.ferriss-wheel {
  position: relative;
  opacity: 100%;
  background-color: rgba(1,98,131,.8);
  border-radius: 50%;
  width: 13em;
  height: 13em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: adelle, serif;
  text-align: center;
  margin: 1em;
}
.ferriss-wheel h2 {
  margin: 0;
}
.ferriss-wheel a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.25em;
}
.ferriss-img {
  position: absolute;
  left: -23.5em;
  top: -16em;
  -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.5); /* FF3.5+ */
      -ms-transform: scale(0.5); /* IE9 */
       -o-transform: scale(0.5); /* Opera 10.5+ */
          transform: scale(0.5);
}
.ferriss-pocket {
  color: #e0e0de;
  background-color: #606060;
  display: flex;
}
.ferriss-recommendations {
  background-color: rgba(1,98,131,.8)
}
.ferriss-bar-right {
  background-color: #606060;
  width: 10em;
  box-shadow: -7px 0px 6px -1px #606060;
  z-index: 20;
}

/* Podcast: The Joe Rogan Experience */
.rogan-back-btn {
  background-color: #000421;
}
.rogan-recommendations {
  background-image: linear-gradient(to bottom right, white, #dd730f);
}
.rogan-recommendations p, .rogan-recommendations hr {
  color: black;
  border-color: black;
}
.rogan-pocket {
  color: wheat;
  background-color: #000421;
  display: flex;
}
.rogan-img {
  position: relative;
  left: 7em;
  top: 2em;
  -webkit-transform: scale(1.25); /* Saf3.1+, Chrome */
     -moz-transform: scale(1.25); /* FF3.5+ */
      -ms-transform: scale(1.25); /* IE9 */
       -o-transform: scale(1.25); /* Opera 10.5+ */
          transform: scale(1.25);
}
.rogan-bar-right {
  background-color: #000421;
  width: 10em;
}

/* Podcast: The Happiness Lab with Dr Laurie Santos */
.happiness-back-btn {
  background-color: #f2e11f;
}
.happiness-pocket {
  display: flex;
  color: black;
  background-color: #f2e11f;
}
.happiness-img-container {
  height: 17em;
}
.happiness-img-container a {
  position: relative;
  left: 35em;
  top: 15em;
  text-decoration-line: none;
  background-color: rgba(0,0,0,.2);
  padding: .5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 1em;
}
.happiness-img-container a:hover {
  color: yellow;
}
.happiness-img {
  position: absolute;
  left: -13em;
  top: -9.5em;
  -webkit-transform: scale(0.6); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.6); /* FF3.5+ */
      -ms-transform: scale(0.6); /* IE9 */
       -o-transform: scale(0.6); /* Opera 10.5+ */
          transform: scale(0.6);
}
.happiness-recommendations p, .happiness-recommendations hr {
  color: black;
  border-color: black;
}
.happiness-recommendations table {
  border-spacing: 1.5em;
  width: 90%;
  margin: 0 auto;
}
.happiness-recommendations td {
  background-color: rgba(0,0,0,.6);
  height: 4em;
  font-size: 1.25em;
  text-align: center;
}
.happiness-bar-right {
  background-color: #f2e11f;
  width: 10em;
}

/* Podcast: Making Sense with Sam Harris */
.harris-pocket {
  display: flex;
  background-color: #2a3d29;
  color: #cecece;
}
.harris-img-container {
  height: 17em;
}
.harris-img-container a {
  text-decoration: none;
}
.harris-img {
  position: absolute;
  left: -19.5em;
  top: -13em;
  -webkit-transform: scale(0.55); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.55); /* FF3.5+ */
      -ms-transform: scale(0.55); /* IE9 */
       -o-transform: scale(0.55); /* Opera 10.5+ */
          transform: scale(0.55);
}
.harris-back-btn {
  background-color: #2a3d29;
  box-shadow: 6px 0px 6px 0px #2a3d29;
}
.harris-recommendations {
  background-image: linear-gradient(to bottom right, #0c1c36, #986842);
}
.harris-wheel {
  position: relative;
  opacity: 100%;
  background-color: rgba(206, 206, 206, 0.4);
  border-radius: 50%;
  width: 11em;
  height: 11em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: adelle, serif;
  text-align: center;
  margin: 1.5em;
  transition: transform 250ms linear;
  padding: 0.35em;
}
.harris-wheel:hover {
  transform: scale(1.1);
}
.harris-wheel h2, .harris-wheel h4 {
  margin: 0;
}
.harris-wheel h4 {
  color: black;
}
.harris-wheel a {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.25em;
}
.harris-bar-right {
  background-color: #2a3d29;
  width: 10em;
  box-shadow: -7px 0px 6px -1px #2a3d29;
  z-index: 10;
}
/* The Bret Easton Ellis Podcast */
.ellis-pocket {
  background-color: #002933;
  display: flex;
}
.ellis-img {
  position: relative;
  left: 0em;
  top: 0em;
  z-index: 30;
  height: 100%;
  width: 100%;
}
.ellis-back-btn {
  background-color: #002933;
}
.ellis-recommendations {
  background-color: black;
}
.ellis-recommendations p {
  color: #44d9e6;
}
.ellis-recommendations .ellis-span {
  padding-left: 3em;
  padding-right: 3em;
  font-size: 0.75em;
  line-height: 1.5;
  text-align: left;
}
.ellis-recommendations td {
  background-color: rgb(68, 217, 230, 0.6);
  height: 8em;
}
.ellis-recommendations span {
  color: black;
  font-size: 0.9em;
  line-height: 1.5;
}
.ellis-bar-right {
  background-color: #002933;
  width: 10em;
}

/* Book pocket CSS */
.book-pocket {
  text-align: center;
  padding: 0 2em 1em 0;
}
.book-title {
  width: 22em;
  margin: 0 auto;
  padding: 2.5em 0 1em 0;
  margin-bottom: 1em;
  border-radius: 0 0 1em 1em;
}
.book-blurb p {
  text-align: left;
  font-size: 1.1em;
  margin: 0.5em 0 0 0;
}
.book-pocket h2 {
  margin: 0 0 0.25em 0;
}
.book-pocket span {
  font-family: monospace, sans-serif;
  font-size: 1.25em;
}
.book-blurb {
  padding-bottom: 2em;
}
.book-blurb img {
  margin-right: 1em;
  float: left;
  position: relative;
  top: 0.5em;
}
.book-recommendations {
  border-radius: 1em;
}
.book-recommendations p {
  font-size: 1.3em;
  font-family: monospace, sans-serif;
  margin: 0 0 0.5em 0;
  letter-spacing: 1em;
}
.book-recommendations table {
  padding: 0 0 1em 0;
}
.book-recommendations td {
  width: 20em;
  position: relative;
  padding: 0;
  line-height: 1;
}
.book-recommendations i {
  font-size: 0.9em;
}
.book-recommendations span {
  font-size: 0.9em;
  font-family: monospace, sans-serif;
}

/* Book: Notes from Underground by Dostoevsky */
.dostoevsky-pocket {
  color: black;
  background-color: #B8CCF9;
}
.dostoevsky-back-btn {
  background-color: #B8CCF9;
}
.dostoevsky-second-color {
  background-color: #F9E5B8;
}

/* Book: American Psycho by Bret Easton Ellis */
.american-psycho-pocket {
  background-color: #0F0F0F;
  color: white;
}
.american-psycho-back-btn {
  background-color: #0F0F0F;
}
.american-psycho-second-color {
  background-color: #f02300;
  color: black;
}

/* Book: My Brilliant Friend by Elena Ferrante */
.ferrante-pocket {
  background-color: #446A9B;
  color: white;
}
.ferrante-back-btn {
  background-color: #446A9B;
}
.ferrante-second-color {
  background-color: #bc9644;
  color: black;
}

/* Book: Norwegian Wood by Haruki Murakami */
.murakami-pocket {
  background-color: #f9f9ed;
  color: black;
}
.murakami-back-btn {
  background-color: #f9f9ed;
}
.murakami-second-color {
  background-color: #c7102e;
  color: #f9f9ed;
}
.murakami-blurb img {
  margin-bottom: 0.1em;
}


/* Film section CSS */
.film-popout {
  width: 75%;
  height: 75%;
  position: fixed;
  top: 12.5%;
  left: 12.5%;
  border-radius: 0.5em;
  background-color: #0F0F0F;
  border: 1px solid beige;
  box-shadow: 0 0 15px beige;
  overflow: scroll;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2em;
  text-align: center;
  padding-bottom: 1em;
  z-index: 120;
  /* z-index: 120, above footer 100 and overlay 110 */
}
.open-fpo-enter {
  transform: scale(0);
  opacity: 0;
}
.open-fpo-enter-active {

  transform: scale(1);
  opacity: 1;
  transition: all 800ms ease-in-out;
}
.open-fpo-exit {
  opacity: 1;
}
.open-fpo-exit-active {
  transform: scale(0);
  opacity: 0;
  transition: all 800ms ease-in-out;
}
.close-fpo {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transform: scale(1.25);
  z-index: 50;
}
#director-list {
  padding-left: 8em;
}
.labyrinth-img {
  background-image: linear-gradient(white, blue);
  border-radius: 1em;
}
.film-popout table {
  table-layout: fixed;
}
.director-table td {
  width: 25%;
  letter-spacing: 0.03em;
}
.recommendations-mobile {
  display: none;
}
.film-table td {
  width: 33.3%;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1em;
  font-family: adelle, serif;
}
.film-table span {
  font-size: 17.5px;
}
.fpo-img {
  margin: 1em 0 0;
  text-align: center;
  z-index: 40;
  position: relative;
}
.fpo-img-portrait {
  display: none;
}
.fpo-body-container {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.fpo-body {
  text-align: left;
  border-radius: 1em;
  padding: 0 1em 1em 1em;
  font-family: adelle, serif;
}
.fpo-words {
  margin-top: 0;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.fpo-words p {
  margin: 0;
}
.boogie-nights {
  background-image: linear-gradient(#e80011,#000400)
}
.big-lebowski {
  background-image: linear-gradient(#9A896C,#695744)
}
.lotr {
  background-image: linear-gradient(#000f00,#454922);
  color: #c6a21a;
}
.ouatih {
  background-image: linear-gradient(#0e2f36,#a77c48)
}
.magnolia {
  background-image: linear-gradient(#ceb156,#efe9d6);
  color: black;
}
.twbb {
  background-image: linear-gradient(#000400,#963407)
}
.boyhood {
  background-image: linear-gradient(grey, #f9f9ed);
  color: black;
}
.goodfellas {
  background-image: linear-gradient(#691c26,#000400)
}
.labyrinth {
  background-image: linear-gradient(blue,white);
  color: black;
}
.no-country {
  background-image: linear-gradient(#e6caa4,#b45c2a);
  color: black;
}
.director-name {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.pta {
  display: inline-block;
  border: white solid 1px;
  background-image: linear-gradient(grey, #4d5d6c);
  border-radius: 0.3em;
  width: 50%;
  padding-bottom: 0.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.coen-bros {
  display: inline-block;
  background-color: black;
  letter-spacing: 1em;
  font-size: 0.9em;
  border: rgb(58, 40, 40) solid 1px;
  border-radius: 0.3em;
  padding: 0.3em;
  padding-left: 0.8em;
  margin-bottom: 1.5em;
}
.coen-bros h4 {
  letter-spacing: 0.3em;
}
.linklater {
  display: inline-block;
  background-image: url('./background-images/pink-brush.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}
.scorsese {
  display: inline-block;
  color: black;
  background-color: #e0e7e7;
  padding: 1em 2em;
  width: 40%;
  border-radius: 0 0 1em 1em;
  margin-top: -1em;
  margin-bottom: 1em;
}
.miyazaki {
  display: inline-block;
  background-color: #47afd2;
  padding: 1em 2em;
  width: 40%;
  border-radius: 0 0 1em 1em;
  margin-top: -1em;
  margin-bottom: 2em;
}
.w-anderson {
  display: inline-block;
  width: 50%;
  background-image: url('./background-images/nice-sign.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1em;
  padding-bottom: 2.5em;
}
.w-anderson h3 {
  color: black;
  font-size: 2em;
  margin-bottom: 1em;
  font-family: Futura;
}
.w-anderson h4 {
  font-size: 1.25em;
  color: black;
  font-family: Futura;
}
.w-anderson hr {
  display: none;
}
.lynch {
  display: inline-block;
  width: 35%;
  background-image: url('./background-images/smoke.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1em;
  padding-bottom: 2.5em;
}
.lynch h3 {
  font-size: 1.5em;
  font-family: 'Bradley Hand', 'Times New Roman', serif;
}
.lynch hr {
  display: none;
}
.lynch h4 {
  font-size: 1em;
  font-family: 'Bradley Hand', 'Times New Roman', serif;
}
.fpo-bottom {
  letter-spacing: 1em;
}


/* All Mobile Devices media query */
@media only screen and (max-width: 1024px) {
  #hvar-pic {
    height: 100%;
    width: 100%;
  }
  .now-pix {
    height: 100%;
    width: 100%;
  }
  .home-style {
    margin-left: 10%;
    margin-right: 10%;
  }
  .code-blog-entry {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
  .code-blog-entry h3 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .code-blog-img {
    width: 100%;
    height: 100%;
  }
  .code-blog-entry-content {
    padding: 0;
  }
  .code-blog-entry-content p {
    padding-left: 1em;
    padding-right: 1em;
  }
  .code-blog-entry-content-img {
    margin-right: 0;
  }
  .code-blog-no-padding-top {
    margin-top: -1em;
  }
  .film-popout {
    width: 90%;
    left: 5%;
  }
  .linklater {
    width: 90%;
  }
  .scorsese {
    width: 70%;
    line-height: 1.5;
    padding: 1em 0;
    font-size: 0.8em;
  }
  .miyazaki {
    width: 70%;
    line-height: 1.5;
    padding: 1em 0;
  }
  .lynch {
    width: 70%;
    padding: 0;
  }
  .lynch .director-name {
    margin-bottom: 0;
  }

  .director-table {
    display: none;
  }
  .film-table {
    display: none;
  }
  .recommendations-mobile {
    display: block;
  }
  .recommendations-mobile-words {
    margin-top: 0;
    font-size: 1.5em;
  }
  .recommendations-mobile-words-details {
    font-size: 0.75em;
  }
}

/* Mobile Devices smaller than iPad Pro media query */
@media only screen and (max-width: 1000px) {

  #navbar {
    display: none;
  }

  .back-to-top {
    display: block;
  }
  .back-to-top a {
    text-decoration-line: none;
    color: grey;
  }
  .App {
    padding-bottom: 4em;
  }
  footer {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer ul {
    display: none;
  }
  .mobile-pic-links {
    display: block;
  }
  .mobile-pic-links ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    height: 100%;
    margin: 0;
  }
  .mobile-pic-links li {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .mobile-pic-links a {
    display: block;
  }

  /* to ensure that the bars and the top name are adjacent */
  .header-main {
    display: flex;
  }

  /* To give the title on the homepage a cyan color */
  .cyan-mobile {
    color: cyan;
  }
}

/* Mobile Devices smaller than iPad media query */
@media only screen and (max-width: 765px) {
  /* This is for the film and cool stuff blurbs margins on mobile */
  .cs-film-blurb {
    width: 80%;
    font-size: 0.8em;
    line-height: 1.75;
  }
  .film-list {
    margin-left: 5%;
    margin-right: 5%;
  }
  #director-list {
    padding: 0;
    margin-left: 20%;
  }
  .pta {
    width: 90%;
  }
}

/* Mobile Devices iPad pro and larger media query */
@media only screen and (min-width: 1000px) {
  .open-links {
    display: none;
  }
}

/* Mobile Devices iPad and larger media query */
@media only screen and (min-width: 765px) {
  h3 {
    font-size: 1.4em;
  }
}

/* Media Queries from Galaxy5/Pixel/Moto until below Surface Duo */
@media only screen and (min-width: 360px) and (max-width: 500px) {
  .long-title-blog {
    margin-left: 1.1em;
    margin-right: 1.1em;
  }
  .fpo-director .fpo-words, .fpo-film-body-container .fpo-words {
    font-size: 1.25em;
    line-height: 1.4;
  }
  .recommendations-mobile-words {
    font-size: 1.25em;
    line-height: 1.2;
  }
  .recommendations-mobile-words-details {
    font-size: 0.8em;
  }
}

/* Media Queries small devices */
@media only screen and (max-width: 375px) {
  .mobile-menu {
    font-size: 1.5em;
  }
  .long-title-now {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 360px) {
  #top-name {
    font-size: 1.75em;
  }

  .open-links {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
}
@media only screen and (max-width: 320px) {
  .fpo-director .fpo-words, .fpo-film-body-container .fpo-words {
    font-size: 1em;
    line-height: 1.4;
  }
  .recommendations-mobile-words {
    font-size: 1em;
    line-height: 1.3;
  }
  .recommendations-mobile-words-details {
    font-size: 0.75em;
  }
}
  /* Media Query below iPhone 5 */
  @media only screen and (max-width: 309px), only screen and (max-height: 309px), only screen and (max-width: 530px) and (orientation: landscape) {
    /* Hides Cool Stuff on tiny devices */
    .cool-content {
      display: none;
    }
    .unavailable-cool {
      display: block;
      margin: 0 2em;
      font-size: 0.7em;
    };
}

/* Portrait media queries */
@media only screen and (orientation: portrait) {
  .portrait-hide {
    display: none;
  }

  .fpo-img-portrait {
    display: block;
    text-align: center;
    padding-top: 1em;
  }
  .fpo-img-portrait img {
    position: relative;
    z-index: 40;
  }

  .director-img {
    margin-top: 1em;
  }
  .director-img img {
    border-radius: 1em;
  }
  .fpo-film-body-container {
    margin-top: 2em;
  }
}

/* Portrait Media Query before and until iPad Pro */
@media only screen and (min-width: 1000px) and (max-width: 1024px) and (orientation: portrait) {
  .cover-middle {
    width: 800px;
  }
  .cover-left {
    width: 112px;
  }
  .pocket-view {
    left: 112px;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -688px;
  }
  .content-pocket-mob {
    padding-left: 6em;
  }
}

/* Portrait Media Query iPad and iPad Pro */
@media only screen and (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
  .w-anderson {
    width: 85%;
  }
  .w-anderson .director-name {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 1.25em;
  }
}

/* Portrait Media Query iPad but not iPad pro  */
@media only screen and (min-width: 768px) and (max-width: 1000px) and (orientation: portrait) {
  .cover-left {
    display: none;
  }
  .cover-middle {
    left: 0;
    width: 768px;
  }
  .pocket-view {
    left: 0;
    min-width: 1536px;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -48em;
  }
  .content-pocket-mob {
    padding-left: 8em;
  }
}

/* Portrait Media Query iPad and below */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .cover-left {
    display: none;
  }
  .cover-middle {
    left: 0;
  }
  .happiness-img-container a {
    left: 32em;
  }
}

/* Portrait Media Query Surface Duo to below iPad */
@media only screen and (min-width: 531px) and (max-width: 767px) and (orientation: portrait) {
  .cover-middle {
    width: 540px;
  }
  .pocket-view {
    min-width: 1080px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -33.75em;
  }
  .content-pocket-mob {
    padding-left: 3em;
  }
  .ferriss-img {
    left: -30.5em;
    top: -21em;
    -webkit-transform: scale(0.35); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.35); /* FF3.5+ */
     -ms-transform: scale(0.35); /* IE9 */
      -o-transform: scale(0.35); /* Opera 10.5+ */
         transform: scale(0.35);
  }
  .ferriss-recommendations td {
    font-size: 0.7em;
    line-height: 1.5;

  }
  .rogan-img {
    -webkit-transform: scale(1); /* Saf3.1+, Chrome */
    -moz-transform: scale(1); /* FF3.5+ */
     -ms-transform: scale(1); /* IE9 */
      -o-transform: scale(1); /* Opera 10.5+ */
         transform: scale(1);
    height: 90%;
    width: 90%;
    left: 1.5em;
    top: 0;
  }
  .rogan-recommendations td {
    height: 6em;
    line-height: 1.5em;
  }
  .happiness-img {
    left: -16em;
    top: -10.5em;
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.5); /* FF3.5+ */
     -ms-transform: scale(0.5); /* IE9 */
      -o-transform: scale(0.5); /* Opera 10.5+ */
         transform: scale(0.5);
  }
  .happiness-img-container a {
    left: 19.5em;
  }
  .happiness-recommendations td {
    height: 5em;
    font-size: 1em;
    line-height: 1.2;
  }
  .harris-img {
    left: -25.5em;
    top: -17em;
    -webkit-transform: scale(0.4); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.4); /* FF3.5+ */
     -ms-transform: scale(0.4); /* IE9 */
      -o-transform: scale(0.4); /* Opera 10.5+ */
         transform: scale(0.4);
  }
  .harris-recommendations td {
    font-size: 0.75em;
    line-height: 1.5;
    height: 13em;
  }
  .w-anderson {
    width: 85%;
  }
  .w-anderson .director-name {
    font-size: 1.5em;
    margin-top: 1em;
  }
  .w-anderson h4 {
    font-size: 1em;
  }
}

/* Portrait Media Query below Surface Duo  */
@media only screen and (max-width: 530px) and (orientation: portrait) {
  .content-pocket-mob {
    padding-left: 2em;
  }
  .content-pocket-mob ul {
    padding-left: 0;
  }
  .content-pocket-mob li {
    font-size: 0.9em;
  }
  .standard-recommendations-podcast {
    display: none;
  }
  .mobile-recommendations-podcast {
    display: block;
    padding-bottom: 1em;
  }
  .mob-rec {
    height: 10em;
    width: 80%;
    background-color: rgba(0,0,0,0.8);
    position: relative;
    border-radius: 1em;
    margin: 1em auto;
    text-align: center;
  }
  .ferriss-recommendations img {
    height: 35%;
    width: 35%;
  }
  .ferriss-recommendations span {
    font-size: 0.9em;
    line-height: 1.5;
  }
  .ferriss-wheel {
    height: 10em;
    width: 10em;
  }
  .ferriss-wheel h2 {
    font-size: 1.25em;
  }
  .ferriss-wheel a {
    font-size: 0.8em;
  }
  .ferriss-img {
    left: -30.5em;
    top: -21em;
    -webkit-transform: scale(0.35); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.35); /* FF3.5+ */
     -ms-transform: scale(0.35); /* IE9 */
      -o-transform: scale(0.35); /* Opera 10.5+ */
         transform: scale(0.35);
  }
  .rogan-img {
    -webkit-transform: scale(1); /* Saf3.1+, Chrome */
    -moz-transform: scale(1); /* FF3.5+ */
     -ms-transform: scale(1); /* IE9 */
      -o-transform: scale(1); /* Opera 10.5+ */
         transform: scale(1);
    height: 90%;
    width: 90%;
    left: 1.5em;
    top: 0;
  }
  .rogan-recommendations .mob-rec {
    height: 6em;
  }
  .happiness-img {
    left: -19em;
    top: -10.5em;
    -webkit-transform: scale(0.4); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.4); /* FF3.5+ */
     -ms-transform: scale(0.4); /* IE9 */
      -o-transform: scale(0.4); /* Opera 10.5+ */
         transform: scale(0.4);
  }
  .happiness-img-container a {
    left: 14em;
    top: 12em;
  }
  .happiness-img-container {
    margin-bottom: -3em;
  }
  .happiness-recommendations .mob-rec {
    height: 5em;
    line-height: 1.5;
  }
  .harris-wheel {
    height: 8em;
    width: 8em;
    margin: 6em 1.5em 1.5em 1.5em;
  }
  .harris-wheel h2 {
    font-size: 1.2em;
  }
  .harris-wheel hr {
    margin: 0;
  }
  .harris-wheel h4 {
    font-size: 0.9em;
  }
  .harris-img {
    left: -30.5em;
    top: -19em;
    -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.3); /* FF3.5+ */
     -ms-transform: scale(0.3); /* IE9 */
      -o-transform: scale(0.3); /* Opera 10.5+ */
         transform: scale(0.3);
  }
  .harris-img-container {
    margin-bottom: -1.5em;
  }
  .harris-recommendations .mob-rec {
    height: 7em;
    line-height: 1.5;
  }
  .harris-recommendations span {
    font-size: 0.9em;
  }
  .ellis-recommendations .mob-rec {
    background-color: rgb(68, 217, 230, 0.6);
    height: 6.5em;
  }
  .book-recommendations img {
    height: 80%;
    width: 80%;
  }
  .book-recommendations .book-ltz {
    height: 85%;
    width: 85%;
  }
  .book-recommendations .book-devils {
    height: 75%;
    width: 75%;
  }
  .book-recommendations .book-sh {
    height: 85%;
    width: 85%;
  }
  .book-recommendations .book-nfu {
    height: 70%;
    width: 70%;
  }
  .book-recommendations .burning-film {
    height: 85%;
    width: 85%;
  }
  .pocket-blurb {
    padding-left: 0.5em;
  }
  .book-pocket {
    padding-right: 0.9em;
  }
}

/* Portrait Media Query Pixel2 to below Surface Duo */
@media only screen and (min-width: 400px) and (max-width: 530px) and (orientation: portrait)  {
  .cover-middle {
    width: 414px;
  }
  .pocket-view {
    min-width: 828px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -25.85em;
  }
}

/* Portrait Media Query iPhoneX to below Pixel2 */
@media only screen and (min-width: 370px) and (max-width: 399px) and (orientation: portrait) {
  .cover-middle {
    width: 375px;
  }
  .pocket-view {
    min-width: 750px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -23.45em;
  }
  .ferriss-img {
    left: -33em;
    top: -22em;
    -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.3); /* FF3.5+ */
     -ms-transform: scale(0.3); /* IE9 */
      -o-transform: scale(0.3); /* Opera 10.5+ */
         transform: scale(0.3);
  }
  .happiness-img {
    left: -21em;
    top: -10.5em;
    -webkit-transform: scale(0.375); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.375); /* FF3.5+ */
     -ms-transform: scale(0.375); /* IE9 */
      -o-transform: scale(0.375); /* Opera 10.5+ */
         transform: scale(0.375);
  }
  .happiness-img-container a {
    left: 14em;
    top: 13.5em;
    font-size: 0.9em;
  }
  .book-title {
    width: 20em;
  }
}

/* Portrait Media Query Galaxy5/Moto to below iPhoneX */
@media only screen and (min-width: 350px) and (max-width: 369px) and (orientation: portrait) {
  .cover-middle {
    width: 360px;
  }
  .pocket-view {
    min-width: 720px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -22.5em;
  }
  .ferriss-img {
    left: -33em;
    top: -22em;
    -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.3); /* FF3.5+ */
     -ms-transform: scale(0.3); /* IE9 */
      -o-transform: scale(0.3); /* Opera 10.5+ */
         transform: scale(0.3);
  }
  .happiness-img {
    left: -21em;
    top: -10.5em;
    -webkit-transform: scale(0.35); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.35); /* FF3.5+ */
     -ms-transform: scale(0.35); /* IE9 */
      -o-transform: scale(0.35); /* Opera 10.5+ */
         transform: scale(0.35);
  }
  .happiness-img-container a {
    left: 15.7em;
    top: 15em;
    font-size: 0.8em;
  }
  .harris-recommendations span {
    font-size: 0.8em;
  }
  .book-title {
    width: 19em;
  }
}

/* Portrait Media Query iPhone 5 to below Galaxy5 */
@media only screen and (min-width: 310px) and (max-width: 349px) and (orientation: portrait) {
  .cover-middle {
    width: 320px;
  }
  .pocket-view {
    min-width: 640px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -20em;
  }
  .ferriss-wheel {
    width: 8em;
    height: 8em;
  }
  .ferriss-wheel h2 {
    font-size: 1em;
    line-height: 1.3;
  }
  .ferriss-wheel hr {
    margin: 0.1em;
  }
  .ferriss-wheel a {
    margin-top: 0.3em;
    padding: 0.05em;
  }
  .ferriss-img {
    left: -36em;
    top: -23.5em;
    -webkit-transform: scale(0.25); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.25); /* FF3.5+ */
     -ms-transform: scale(0.25); /* IE9 */
      -o-transform: scale(0.25); /* Opera 10.5+ */
         transform: scale(0.25);
  }
  .happiness-img {
    left: -22em;
    top: -11em;
    -webkit-transform: scale(0.3); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.3); /* FF3.5+ */
     -ms-transform: scale(0.3); /* IE9 */
      -o-transform: scale(0.3); /* Opera 10.5+ */
         transform: scale(0.3);
  }
  .happiness-img-container a {
    left: 16.5em;
    top: 15.5em;
    font-size: 0.7em;
  }
  .happiness-pocket .pocket-blurb {
    padding-top: 0;
    margin-top: -2em;
  }
  .harris-wheel {
    height: 6em;
    width: 6em;
    margin-top: 2em;
  }
  .harris-wheel h2 {
    font-size: 1em;
    line-height: 1.3;
  }
  .harris-recommendations span {
    font-size: 0.7em;
  }
  .book-title {
    width: 17em;
  }
  .book-recommendations .book-devils {
    height: 70%;
    width: 70%;
  }
  .book-recommendations .book-sh {
    height: 100%;
    width: 100%;
  }
}


/* Portrait Media Query iPhone 5 to below Surface Duo */
@media only screen and (min-width: 320px) and (max-width: 530px) and (orientation: portrait) {
  .w-anderson {
    width: 100%;
  }
  .w-anderson .director-name {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.2em;
  }
  .w-anderson h4 {
    font-size: 0.75em;
  }
  .fpo-bottom-director {
    font-size: 15px;
  }
}

/* Portrait Media Query iPhone 5 and below */
@media only screen and (max-width: 320px) and (orientation: portrait) {
  .w-anderson {
    width: 100%;
  }
  .w-anderson .director-name {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0;
  }
  .w-anderson h4 {
    font-size: 0.75em;
  }
  .lynch {
    width: 100%;
  }
  .fpo-bottom-director {
    font-size: 12px;
  }
}

/* Landscape Media Queries */
@media only screen and (orientation: landscape) {
  .film-table {
    display: block;
  }
  .director-table {
    display: block;
  }
  .recommendations-mobile {
    display: none;
  }
}

/* Landscape Media Query until iPad */
@media only screen and (max-height: 768px) and (orientation: landscape) {
  #hvar-pic {
    height: 33%;
    width: 33%;
  }
  .home-style h3 {
    font-size: 1.2em;
  }
}

/* Landscape Media Query until Surface Duo */
@media only screen and (max-height: 540px) and (orientation: landscape) {
  #hvar-pic {
    height: 45%;
    width: 45%;
  }
  .home-style h3 {
    font-size: 1.17em;
  }
  .mobile-menu {
    font-size: 1.5em;
    margin-top: 1em;
  }
  #director-list {
    margin-left: 30%;
  }
  .film-table td {
    font-size: 1.1em;
  }
  .film-table td span {
    font-size: 0.85em;
  }
  .director-table td {
    line-height: 1;
  }
  .director-table td span {
    display: block;
  }
  .w-anderson h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .w-anderson h4 {
    font-size: 1em;
  }
}

/* Landscape Media Query until iPhone 6/7/8 plus  */
@media only screen and (max-height: 414px) and (orientation: landscape) {
  .fpo-words {
    font-size: 1.2em;
    line-height: 1.6;
  }
  .w-anderson h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  #director-list {
    padding-left: 0;
  }
  .film-popout {
    height: 85%;
    top: 5%;
  }
}

/* Landscape Media Query until iPhone X */
@media only screen and (max-height: 375px) and (orientation: landscape) {
  .mobile-menu {
    margin-top: 1.2em;
    font-size: 1.4em;
  }
  .mobile-menu a {
    padding: 0.4em 0;
  }
  .w-anderson h3 {
    /* margin-top: 1em;
    margin-bottom: 0.5em; */
    font-size: 1.3em;
  }
  .w-anderson h4 {
    font-size: 0.9em;
  }
}

/* Landscape Media Query until Galaxy 5 */
@media only screen and (max-height: 360px) and (orientation: landscape) {
  .home-style h3 {
    font-size: 1em;
  }
  .home-style p {
    font-size: 0.9em;
  }
  .mobile-menu {
    font-size: 1.3em;
    margin-top: 1.4em;
  }
}

/* Landscape Media Query until iPhone 5 */
@media only screen and (max-height: 320px) and (orientation: landscape) {
  .mobile-menu {
    font-size: 1.2em;
    margin-top: 1.5em;
  }
  .w-anderson h3 {
    font-size: 1em;
    margin-bottom: 0;
  }
  .w-anderson h4 {
    font-size: 0.8em;
  }
}

/* Landscape Media Query below iPhone 5 */
@media only screen and (max-height: 300px) and (orientation: landscape) {
  .mobile-menu {
    font-size: 1.1em;
    margin-top: 1.5em;
  }
  .mobile-menu a {
    padding: 0.3em 0;
  }
}

/* Landscape Media Query for small devices with a high width */
@media only screen and (max-height: 500px) and (min-width: 800px) and (orientation: landscape) {
  #director-list {
    margin-left: 22%;
  }
}

/* Landscape Media Query below iPad pro by width */
@media only screen and (max-width: 1200px) and (orientation: landscape) {
  .cover-left {
    width: 10em;
  }
  .pocket-view {
    left: 10em;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -40em;
  }
}

/* Landscape Media Query below iPad by width */
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .cover-left {
    width: 5em;
  }
  .pocket-view {
    left: 5em;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -45em;
  }
}

/* Landscape Media Query above Pixel 2XL (1) by width */
@media only screen and (max-width: 920px) and (orientation: landscape) {
  .cover-left {
    width: 4em;
  }
  .pocket-view {
    left: 4em;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -46em;
  }
}

/* Landscape Media Query above Pixel 2XL (2) by width */
@media only screen and (max-width: 875px) and (orientation: landscape) {
  .cover-left {
    width: 2em;
  }
  .pocket-view {
    left: 2em;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -48em;
  }
  .content-pocket-mob {
    padding-left: 5em;
  }
}

/* Landscape Media Query just above Pixel 2XL by width */
@media only screen and (max-width: 835px) and (orientation: landscape) {
  .cover-left {
    width: 0.75em;
  }
  .pocket-view {
    left: 0.75em;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -49.25em;
  }
}

/* Landscape Media Query just above iPhone X by width */
@media only screen and (max-width: 817px) and (orientation: landscape) {
  .cover-left {
    width: 0.5em;
  }
  .pocket-view {
    left: 0.5em;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -49.5em;
  }
}

/* Landscape Media Query just below iPhone X by width */
@media only screen and (max-width: 807px) and (orientation: landscape) {
  .cover-left {
    display: none;
  }
  .pocket-view {
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -50em;
  }
  .happiness-img-container a {
    left: 40em;
    top: 17em;
    font-size: 0.9em;
  }
}

/* Landscape Media Query a bit below iPhone X by width */
@media only screen and (max-width: 780px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    /* width corresponds to next Media break */
    width: 750px
  }
  .pocket-view {
    min-width: 1500px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -750px;
  }
  .happiness-img-container a {
    left: 38em;
  }
}

/* Landscape Media Query iPhone 6/7/8plus and below by width */
@media only screen and (max-width: 736px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    width: 736px
  }
  .pocket-view {
    min-width: 1472px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -736px;
  }
  .happiness-img-container a {
    left: 27.5em;
  }
}

/* Landscape Media Query Surface Duo and below by width */
@media only screen and (max-width: 720px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    width: 720px
  }
  .pocket-view {
    min-width: 1440px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -720px;
  }
  .ferriss-recommendations span {
    line-height: 1.2;
  }
  .rogan-img {
    left: 5em;
  }
  .rogan-recommendations td {
    height: 7em;
    line-height: 1.5;
  }
  .happiness-recommendations span {
    font-size: 0.9em;
    line-height: 1.5;
  }
  .harris-recommendations span {
    line-height: 1.2;
  }
}

/* Landscape Media Query below Surface Duo by width */
@media only screen and (max-width: 710px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    width: 680px
  }
  .pocket-view {
    min-width: 1360px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -680px;
  }
  .ferriss-recommendations span {
    font-size: 0.9em;
    line-height: 1.5;
  }
  .rogan-img {
    left: 3em;
  }
  .happiness-recommendations span {
    font-size: 0.8em;
  }
  .harris-recommendations span {
    font-size: 0.9em;
    line-height: 1.5;
  }
}

/* Landscape Media Query up to iPhone 6/7/8 by width */
@media only screen and (max-width: 667px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    width: 667px
  }
  .pocket-view {
    min-width: 1334px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -667px;
  }
  .rogan-img {
    left: 4em;
    top: 1em;
    -webkit-transform: scale(1.25); /* Saf3.1+, Chrome */
    -moz-transform: scale(1.25); /* FF3.5+ */
     -ms-transform: scale(1.25); /* IE9 */
      -o-transform: scale(1.25); /* Opera 10.5+ */
         transform: scale(1.25);
    height: 80%;
    width: 80%;
  }
}

/* Landscape Media Query below iPhone 6/7/8 by width */
@media only screen and (max-width: 660px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    width: 650px
  }
  .pocket-view {
    min-width: 1300px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -650px;
  }
  .ferriss-recommendations span {
    font-size: 0.8em;
  }
  .rogan-recommendations span {
    line-height: 1.5;
  }
  .harris-recommendations span {
    font-size: 0.8em;
  }
}

/* Landscape Media Query up to Galaxy S5 by width */
@media only screen and (max-width: 640px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    width: 640px
  }
  .pocket-view {
    min-width: 1280px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -640px;
  }
}

/* Landscape Media Query below Galaxy S5 by width */
@media only screen and (max-width: 625px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    width: 600px
  }
  .pocket-view {
    min-width: 1200px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -600px;
  }
  .happiness-img {
    left: -15em;
  }
  .happiness-img-container a {
    left: 25.5em;
  }
  .happiness-recommendations span {
    line-height: 1.4;
  }
}

/* Landscape Media Query a bit above iPhone 5 by width */
@media only screen and (max-width: 588px) and (orientation: landscape) {
  .cover-middle {
    left: 0;
    width: 568px
  }
  .pocket-view {
    min-width: 1136px;
    left: 0;
  }
  .pocket-view-podcast, .pocket-view-book {
    left: -568px;
  }
  .happiness-img {
    left: -17em;
  }
  .happiness-img-container a {
    left: 23em;
  }
}